.add-board-container {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-board-btn {
  border: none;
  font-size: 20px;
  color: rgb(188, 188, 188);
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.add-board-btn:hover {
  background-color: rgb(61, 61, 61);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 765px) {
  .modal {
    height: 100vh;
  }
}

.modal-content {
  /* background-color: #fefefe; */
  border-radius: 20px;

  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.modal-body label {
  margin-top: 10px;
}

.modal-body input {
  padding: 8px 0;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  margin-bottom: 10px;
}

.modal-body input::placeholder {
  font-weight: 500;
  color: rgb(199, 199, 199);
}

#theme-label {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 50%;
}

.circle-theme {
  cursor: pointer;
}

.theme-active {
  background-color: white;
}

.modal-body button {
  padding: 10px;
  margin-top: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 20px;
}

.modal-body button:hover {
  background-color: #358038;
}
